<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Adiyogi Website</title>
  <meta content="" name="description">
  <meta content="" name="keywords">
  <!-- Favicons -->
  {% load static %}

  <link href="{% static 'assets/img/favicon.png' %}" rel="icon">
  <link href="{% static 'assets/img/apple-touch-icon.png' %}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="{% static 'https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Jost:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i' %}" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/icofont/icofont.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/remixicon/remixicon.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/venobox/venobox.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/owl.carousel/assets/owl.carousel.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/aos/aos.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'assets/css/style.css' %}" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Arsha - v2.2.0
  * Template URL: https://bootstrapmade.com/arsha-free-bootstrap-html-template-corporate/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>
  <header id="header" class="fixed-top bg-info">
    <div class="container d-flex align-items-center">
      <h5 class="logo mr-auto" style="color:white;"><a href="">Adiyogi Technosoft Company</a></h5>
      <nav class="nav-menu d-none d-lg-block ">
        {% if request.session.is_authenticate %}
            {% if request.session.username %}
          <h4>Welcome to {{request.session.username}}</h4>
        <h3>Email : {{request.session.email}}</h3>
        <ul>
          <li class="drop-down"><a  style="color:green">{{request.session.username}}</a>
            <ul>
              <li><a href="{% url 'logout1' %}">Logout</a></li>
            </ul>
          </li>
              {% else %}
          <li><a href="{% url 'register' %}">Register</a></li>

        </ul>
      </nav><!-- .nav-menu -->

      <a href="{% url 'userlogin' %}" class="get-started-btn scrollto">Login</a>
        {% endif %}

    </div>
  </header><!-- End Header -->




<!--
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>AdiyogiTechnoSoft</title>
        &lt;!&ndash; Favicon&ndash;&gt;
        {% load static %}
        <link rel="icon" type="image/x-icon" href="{% static 'assets/img/favicon.ico' %}" />
        &lt;!&ndash; Font Awesome icons (free version)&ndash;&gt;
        <script src="{% static 'https://use.fontawesome.com/releases/v5.15.1/js/all.js' %}" crossorigin="anonymous"></script>
        &lt;!&ndash; Google fonts&ndash;&gt;
        <link href="{% static 'https://fonts.googleapis.com/css?family=Montserrat:400,700' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic' %}" rel="stylesheet" type="text/css" />
        &lt;!&ndash; Core theme CSS (includes Bootstrap)&ndash;&gt;
        <link href="{% static 'https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css' %}" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
        <script src="{% static 'https://cdn.jsdelivr.net/npm/@popperjs/core@2.6.0/dist/umd/popper.min.js' %}" integrity="sha384-KsvD1yqQ1/1+IA7gi3P0tyJcT3vR+NdBTt13hSJ2lnve8agRGXTTyNaBYmCR/Nwi" crossorigin="anonymous"></script>
        <script src="{% static 'https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.min.js' %}" integrity="sha384-nsg8ua9HAw1y0W1btsyWgBklPnCUAFLuTMS2G72MMONqmOymq585AcH49TLBQObG" crossorigin="anonymous"></script>
        <link href="{% static 'css/styles.css' %}" rel="stylesheet" />
        <style>

</style>
    </head>
    <body id="page-top">
        &lt;!&ndash; Navigation&ndash;&gt;
        <nav class="navbar navbar-expand-lg bg-secondary text-uppercase fixed-top">
            <div class="container">
               &lt;!&ndash;     <img src="{% static 'assets/img/img.png' %}" width="50" height="50">&ndash;&gt;
                <a class="navbar-brand js-scroll-trigger" href="#page-top">AdiyogiTechno Soft</a>

                <button class="navbar-toggler navbar-toggler-right text-uppercase font-weight-bold bg-primary text-white rounded" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    Menu
                    <i class="fas fa-bars"></i>
                </button>

                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto">
                        {% if request.session.username %}
                       <b style="color:white">Welcome to {{request.session.username}}<b></b>
                        <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="/logout1/">Logout</a></li>
                        {% else %}
                        <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="{% url 'register'%}">Register</a></li>
                        <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="{% url 'userlogin' %}">Login</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>

/* When the user clicks on the button,
toggle between hiding and showing the dropdown content */
function myFunction() {
  document.getElementById("myDropdown").classList.toggle("show");
}

// Close the dropdown if the user clicks outside of it
window.onclick = function(event) {
  if (!event.target.matches('.dropbtn')) {
    var dropdowns = document.getElementsByClassName("dropdown-content");
    var i;
    for (i = 0; i < dropdowns.length; i++) {
      var openDropdown = dropdowns[i];
      if (openDropdown.classList.contains('show')) {
        openDropdown.classList.remove('show');
      }
    }
  }
}
-->
