{% include 'frontend/head.html' %}
{% load static %}
 <section id="skills" class="skills" style="padding:100px;">
    <div class="container aos-init aos-animate" data-aos="fade-up"">
          <div class="section-title">
          <h2> View Product Detail </h2>
        </div>
      <div class="card">
      <div class="container" data-aos="fade-up">
{% for prod in product %}
        <div class="row">
          <div class="col-lg-6 d-flex align-items-center" data-aos="fade-right" data-aos-delay="100">
            <img src="{{prod.image.url}}" class="img-fluid" alt="" style="width:50%;">
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0 content" data-aos="fade-left" data-aos-delay="100">
            <h3>Title : {{prod.title}}</h3>

                 <div class="col-lg-6 pt-4 pt-lg-0 content" data-aos="fade-left" data-aos-delay="100">
            <h3>Price : {{prod.price}}</h3>

            </div>

          </div>
        </div>
{% endfor %}
      </div>
          </div>
    </section>

<!--
<section id="portfolio" class="portfolio">
      <div class="container aos-init aos-animate" data-aos="fade-up" style="padding:100px;">
          <div class="section-title">
          <h2> View Product Detail </h2>
        </div>
          <div class="container">
    <div class="card" style="padding:100px; width:50px; float:right;">
        <div class="row">
     {% for prod in product %}
             <b> <h3>Title</h3> <h2 style="color:red;">{{prod.title}}</h2></b>
            </div>
        <div class="row">
                <b> <h3>Price</h3> <h2 style="color:red;">{{prod.price}}</h2></b>
              {% endfor %}
        </div>
            </div>
          </div>
        <div class="row portfolio-container aos-init aos-animate" data-aos="fade-up" data-aos-delay="200" style="position: relative; height: 1080.36px;">
     {% for prod in product %}
          <div class="col-lg-4 col-md-6 portfolio-item filter-app" style="position: absolute; left: 0px; top: 0px;">
            <div class="portfolio-img"><img {% if prod.image %}src="{{prod.image.url}}" class="img-fluid" alt="" style="height:400px; width:100%; float:center;" {% endif %}></div>
            <div class="portfolio-info">
               <h2 style="color:white;">{{prod.title}}</h2>
                <a href="{% url 'index'%}">Return To Home</a>

            </div>
          </div>
        </div>
      </div>
  {% endfor %}

</section>


-->

<!--
<section id="portfolio" class="portfolio">
      <div class="container" data-aos="fade-up">
        <div class="section-title">
          <h2>Products</h2>
          <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
        </div>
            <div class="footer-newsletter">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-6">
            <h4>Search Products</h4>
            <form method="get" action="/SearchResultsView">
              <input type="text" name="search">
              <button type="submit" class="btn btn-primary">Search</button>
            </form>
          </div>
        </div>
      </div>
    </div>

        <ul id="portfolio-flters" class="d-flex justify-content-center" data-aos="fade-up" data-aos-delay="100">
          <a href="{% url 'shop' %}"> <li data-filter="*" class="filter-active">All</li></a>
          <a href="{% url 'Items' %}"><li data-filter=".filter-web">Computer & Electronics</li></a>
        </ul>
        {% for prod in products %}
        <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">
          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-img"><img {% if prod.image %}src="{{prod.image.url}}" class="img-fluid" alt="" style="height:150px width:150px" {% endif %}></div>
            <div class="portfolio-info">
              <h4>{{prod.title}}</h4>
                <a href="{% url 'product_detail' prod.id %}">View Product</a>
          </div>
          </div>
        </div>
      </div>
   {% endfor %}
</section>
-->


          <!--<div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <div class="portfolio-img"><img src="{% static 'assets/img/portfolio/portfolio-2.jpg' %}" class="img-fluid" alt=""></div>
            <div class="portfolio-info">
              <h4>Web 3</h4>
              <p>Web</p>
              <a href="{% static 'assets/img/portfolio/portfolio-2.jpg' %}" data-gall="portfolioGallery" class="venobox preview-link" title="Web 3"><i class="bx bx-plus"></i></a>
              <a href="{% static 'portfolio-details.html' %}" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-img"><img src="{% static 'assets/img/portfolio/portfolio-3.jpg' %}" class="img-fluid" alt=""></div>
            <div class="portfolio-info">
              <h4>App 2</h4>
              <p>App</p>
              <a href="{% static 'assets/img/portfolio/portfolio-3.jpg' %}" data-gall="portfolioGallery" class="venobox preview-link" title="App 2"><i class="bx bx-plus"></i></a>
              <a href="{% static 'portfolio-details.html' %}" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-img"><img src="{% static 'assets/img/portfolio/portfolio-4.jpg' %}" class="img-fluid" alt=""></div>
            <div class="portfolio-info">
              <h4>Card 2</h4>
              <p>Card</p>
              <a href="{% static 'assets/img/portfolio/portfolio-4.jpg' %}" data-gall="portfolioGallery" class="venobox preview-link" title="Card 2"><i class="bx bx-plus"></i></a>
              <a href="{% static 'portfolio-details.html' %}" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <div class="portfolio-img"><img src="{% static 'assets/img/portfolio/portfolio-5.jpg' %}" class="img-fluid" alt=""></div>
            <div class="portfolio-info">
              <h4>Web 2</h4>
              <p>Web</p>
              <a href="{% static 'assets/img/portfolio/portfolio-5.jpg' %}" data-gall="portfolioGallery" class="venobox preview-link" title="Web 2"><i class="bx bx-plus"></i></a>
              <a href="{% static 'portfolio-details.html' %}" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-img"><img src="assets/img/portfolio/portfolio-6.jpg" class="img-fluid" alt=""></div>
            <div class="portfolio-info">
              <h4>App 3</h4>
              <p>App</p>
              <a href="{% static 'assets/img/portfolio/portfolio-6.jpg' %}" data-gall="portfolioGallery" class="venobox preview-link" title="App 3"><i class="bx bx-plus"></i></a>
              <a href="{% static 'portfolio-details.html' %}" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-img"><img src="{% static 'assets/img/portfolio/portfolio-7.jpg' %}" class="img-fluid" alt=""></div>
            <div class="portfolio-info">
              <h4>Card 1</h4>
              <p>Card</p>
              <a href="{% static 'assets/img/portfolio/portfolio-7.jpg' %}" data-gall="portfolioGallery" class="venobox preview-link" title="Card 1"><i class="bx bx-plus"></i></a>
              <a href="{% static 'portfolio-details.html' %}" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-img"><img src="{% static 'assets/img/portfolio/portfolio-8.jpg' %}" class="img-fluid" alt=""></div>
            <div class="portfolio-info">
              <h4>Card 3</h4>
              <p>Card</p>
              <a href="{% static 'assets/img/portfolio/portfolio-8.jpg' %}" data-gall="portfolioGallery" class="venobox preview-link" title="Card 3"><i class="bx bx-plus"></i></a>
              <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <div class="portfolio-img"><img src="{% static 'assets/img/portfolio/portfolio-9.jpg' %}" class="img-fluid" alt=""></div>
            <div class="portfolio-info">
              <h4>Web 3</h4>
              <p>Web</p>
              <a href="{% static 'assets/img/portfolio/portfolio-9.jpg' %}" data-gall="portfolioGallery" class="venobox preview-link" title="Web 3"><i class="bx bx-plus"></i></a>
              <a href="{% static 'portfolio-details.html' %}" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
            </div>
-->


{% include 'frontend/foot.html' %}




<!--
{% load static %}
{% if product %}
<div class="container">
{% for prod in product %}
          <div class="col-8 ml-auto">
            <div class="portfolio-img ml-auto"><img {% if prod.image %}src="{{prod.image.url}}" class="img-fluid" alt="" style="height:300px; width:300px; float:right; padding:200px;" {% endif %}></div>
            <div class="portfolio-info">
              <h2 style="float:right; padding:200px;  ">Title-{{prod.title}}</h2>
                <h3 style="float:right; padding:200px;">Price-{{prod.price}}</h3>
          </div>
          </div>
        </div>
<h3><a href="{% url 'index' %}" style="float:right;">Return to home</a></h3>
{% endfor %}
</div>

{% else %}
<h2>No Product</h2>

{% endif %}

-->
