{% include 'frontend/head.html' %}
{% load static %}
<section class="container body-tag">
  <div class="register">
<div class="register-box">
  <div class="register-logo">
    <a href=""><b></b></a>
  </div>

{% if message %}
{% for msg in message %}
    <b style="color:green">{{msg}}</b>
{% endfor %}
{% endif %}
  <div class="card"  style="background:off white; margin-top:50px;">
    <div class="card-body register-card-body" style="padding-left:30%!important">
        <h3>Password Reset</h3>
{% if error %}
	<h3 style="color: red">{{ error }}</h3>
	{% endif %}
      <form method="POST" action="">
          {% csrf_token %}
    <div class="mb-3 row">
           <label class="col-sm-2 col-form-label">Email</label>
          <div class="col-sm-10">
          <input type="email" name="email"  placeholder="enter your email" required>
          </div>
        </div>
      <!--     <div class="mb-3 row">
           <label class="col-sm-2 col-form-label">Confirm Password</label>
          <div class="col-sm-10">
          <input type="confirmpassword" name="confirmpassword"  placeholder="enter your confirm password" required>
          </div>
        </div>-->
          <!-- /.col -->
          <div class="col-4">
            <button type="submit"  value="submit" class="btn btn-primary">Send</button></div>
      </form>

    </div>
    <!-- /.form-box -->
  </div><!-- /.card -->
</div>
  </div>
</section>

{% include 'frontend/foot.html' %}